* {
    padding: none;
    margin: none;
}

h1 {
    margin-bottom: 20px;
}

ul {
   display: grid;
   grid-template-rows: 340px 340px;
   grid-template-columns: 340px 340px 340px 340px;
}

li {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

img {
    height: 60%;
    width: 80%;
    max-height: 400px;
    max-width: 600px;
}

ul {
    list-style-type: none;
}

.favorite {
    background-color: red;
    color: white;
    border-radius: 15%;
    margin: 5px;
    margin-top: 10px;
}

.list li {
    cursor: pointer;
} 
.list li:hover:after, 
.list li.fav:after {
    content: 'Test 1';
}
.list li.fav:hover:after {
    content: 'Test 2';
}
